{% extends "base.html" %}
{% block content %}
  <h2>Đăng video</h2>
  <form method="POST" enctype="multipart/form-data">
    <label>Tiêu đề:</label>
    <input type="text" name="title" required>
    <label>URL video (YouTube, Facebook, Vimeo...):</label>
    <input type="url" name="url" required>
    <label>Thể loại:</label>
    <select name="category">
        <option value="">Chọn thể loại</option>
        <option value="hài">Hài</option>
        <option value="hành động">Hành động</option>
        <option value="hoạt hình">Hoạt hình</option>
		<option value="Video">Video</option>
		<option value="Video nhạc">Video nhạc</option>
		<option value="Nhạc">Nhạc</option>
		<option value="Tin tức">Tin tức</option>
		<option value="Phim hay">Phim hay</option>
		<option value="Phim cổ">Phim cổ</option>
		<option value="Phim mới">Phim mới</option>
        <option value="ảnh">Ảnh</option>
    </select>
    <label>Tải file lên:</label>
    <input type="file" name="file">
    <button type="submit">Đăng</button>
  </form>
{% endblock %}